.advantages{
  padding: 0;
  padding-top: 42px;
  padding-bottom: 81px;

  @include vp-1199 {
    padding: 87px 0 20px 0;
 }
}

.advantages h2{
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
  position: relative;

  &::after{
    content: "Преимущества";
    position: absolute;
    font-size: 55px;
    line-height: 55px;
    left: 34%;
    bottom: -3px;
    opacity: 0.03;

    @include vp-1199 {
      left: 20%;
   }
  }

  @include vp-1199 {
    margin-bottom: 47px;
 }
}

.advantages ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;

  @include vp-1199 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0;
 }
}

.advantages li{
  width: 380px;
  min-height: 330px;
  padding: 40px 20px;
  text-align: center;
  border: 1px solid rgba(2, 100, 192, 0.102);

  @include vp-1199 {
    width: 324px;
    padding-top: 29px;
    padding-bottom: 29px;
 }
}

.advantages__wrapper{
  border: 1px solid $color-neon-blue;
  padding: 16px;
  width: 54px;
  height: 54px;
  margin: 0 auto;

  @include vp-1199 {
    width: 48px;
    height: 48px;
 }
}

.advantages h3{
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 30px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
    margin-top: 25px;
 }
}

.advantages p{
  font-size: 14px;
  line-height: 22px;
  margin: 0;

  @include vp-1199 {
   min-width: 284px;
 }
}

.advantages__swiper-nav{
  display: flex;
  gap: 4px;
  cursor: pointer;
  justify-content: center;

  @include vp-1199 {
    display: none;
 }
}
