.contacts{
  display: flex;
  justify-content: space-between;
  padding: 65px 120px 0 120px;
  margin-bottom: 95px;
  align-items: flex-end;
}

.contacts__wrapper {
  margin-right: 115px;
}

.contacts__wrapper h2{
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 0;
  margin-bottom: 25px;
  position: relative;

  &::after{
    content: "Контакты";
    position: absolute;
    font-size: 55px;
    line-height: 55px;
    left: 0;
    bottom: -3px;
    opacity: 0.03;
  }
}

.contacts__wrapper p{
  max-width: 500px;
  margin: 0;
  margin-bottom: 50px;
}

.contacts__wrapper li{
  display: flex;
  align-items: center;
  margin-bottom: 35px;

  &:last-child{
    margin: 0;
  }
}

.contacts__content{
  margin-left: 30px;
}

.contacts__content h3{
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.contacts__map{
  position: relative;
}

.contacts__map svg{
  position: absolute;
  bottom: 120px ;
  right: 32%;
}
