.footer{
  border-top: 1px solid rgba(45, 56, 63, 0.20);
  padding: 32px 120px;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include vp-1199 {
   padding: 34px 45px 20px 45px;
   gap: 34px;
  }
}

.footer__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts{
  color: $color-transparent;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @include vp-1199 {
    display: none;
  }
}

.footer__social-list{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer__link{
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  color: $color-transparent;
  text-align: center;
  display: block;
}

.footer__logo{
  @include vp-1199 {
    max-width: 142px;
  }
}
