.gallery{
  position: relative;
  padding: 0;
}

.gallery__container{
  margin-bottom: 46px;

  @include vp-1199 {
    margin-bottom: 21px;
  }
}

.gallery h2{
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 0;
  margin-bottom: 26px;
  position: relative;

  &::after{
    content: "Фотогалерея";
    position: absolute;
    font-size: 55px;
    line-height: 55px;
    left: 0;
    bottom: -3px;
    opacity: 0.03;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
    }
  }

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin: 0;
    margin-bottom: 20px;
  }
}

.gallery p{
  max-width: 693px;
  margin: 0 ;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
    max-width: 420px;
  }
}

.gallery__wrapper{
  display: flex;
  height: 450px;
  gap: 5px;
}

.gallery__card{
  display: flex;
  gap: 5px;
}

.gallery__card-wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gallery__swiper-nav{
  display: flex;
  position: absolute;
  top: 60px;
  right: 120px;
  gap: 4px;
  cursor: pointer;

  @include vp-1199 {
    right: 45px;
  }
}
