.header-nav{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: auto;
  line-height: 16px;
  color: $color-default-white;

  @include vp-1199 {
    display: none;
}
}

.header-nav__item{
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}
