.header{
  z-index: 3;
  padding: 32px 20px;
  background-color: $color-neon-blue;
  position: absolute;
  left: 120px;
  top: 0;
  width: calc(100% - 240px);
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
}

.header__contacts{
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: $color-default-white;
}
