.hero{
  margin: 0 auto;
  width: 100%;
  position: relative;
  max-width: 1920px;

  @include vp-1199 {
    width: 768px;
   }
}

.hero__wrapper h2{
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  color: $color-default-white;
  max-width: 910px;
  margin: 0;
  margin-bottom: 25px;
  width: 906px;

  @include vp-1199 {
    font-size: 56px;
    line-height: 56px;
    max-width: 678px;
    margin-bottom: 13px;
  }

   @include vp-767 {
    font-size: 26px;
    line-height: 26px;
    max-width: 290px;
    margin-bottom: 15px;
  }
}

.hero__wrapper p{
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 35px;
  color: $color-default-white;
  max-width: 420px;

  @include vp-1199 {
    max-width: 475px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 60px;
  }
}

.hero__wrapper a{
  padding: 20px;
  background-color: $color-neon-blue;
  font-weight: 500;
  line-height: 16px;
  color: $color-default-white;
  display: block;
  width: fit-content;
  min-width: 180px;
  text-align: center;
}

.hero__wrapper{
  display: flex;
  flex-direction: column;
  background-size: cover;
  padding: 200px 120px 80px;
  flex-direction: row;

  @include vp-1199 {
    padding: 212px 45px 180px;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    padding: 140px 15px 40px 15px;
  }
}

.hero__content{
  display: flex;
  gap: 10px;
  margin-top: 134px;

  @include vp-1199 {
    display: none;
  }
}

.hero__content svg{
  margin-right: 8px;
}

.hero__content span{
  font-size: 12px;
  color: $color-default-white;
  padding: 14px 20px;
  border: 1px solid var(--white-50, rgba(255, 255, 255, 0.50));
  display: block;
  width: fit-content;
}

.hero__photo{
  position: relative;
  width: 407px;
  top: -100px;
}

.hero__photo img{
  position: absolute;

  &:last-child{
    top: 80px;
    right: -10px;
  }
}

.hero__container{
  position: absolute;
  top: 335px;
  right: 120px;
  z-index: -1;

  @include vp-1199 {
    position: static;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__video {
  position: relative;
  width: 482px;
  height: 317px;
  background-color: $color-default-black;

  @include vp-1199 {
    width: 442px;
    height: 300px;
  }
}

.hero__video-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid $color-default-white;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hero__pagination{
    position: absolute;
    right: 0px;
    bottom: 120px;
    width: 200px;
    z-index: 2;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.hero__description{
  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
  }
}
