.hero{
  margin: 0 auto;
  width: 100%;
  position: relative;
  max-width: 1920px;
}

.hero__wrapper h2{
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  color: $color-default-white;
  max-width: 780px;
  margin: 0;
  margin-bottom: 25px;
  min-width: 906px;
}

.hero__wrapper p{
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 35px;
  color: $color-default-white;
  max-width: 420px;
}

.hero__wrapper a{
  padding: 20px;
  background-color: $color-neon-blue;
  font-weight: 500;
  line-height: 16px;
  color: $color-default-white;
  display: block;
  width: fit-content;
}

.hero__wrapper{
  display: flex;
  flex-direction: column;
  background-size: cover;
  padding: 200px 120px 80px;
  flex-direction: row;
}

.hero__content{
  display: flex;
  gap: 10px;
  margin-top: 134px;
}

.hero__content svg{
  margin-right: 8px;
}

.hero__content span{
  font-size: 12px;
  color: $color-default-white;
  padding: 14px 20px;
  border: 1px solid var(--white-50, rgba(255, 255, 255, 0.50));
  display: block;
  width: fit-content;
}

.hero__photo{
  position: relative;
  width: 407px;
  top: -100px;
}

.hero__photo img{
  position: absolute;

  &:last-child{
    top: 80px;
    right: -10px;
  }
}

.hero__container{
  position: absolute;
  top: 335px;
  right: 120px;

  &:last-child{
    top: 440px;
  }
}

.hero__video {
  position: relative;
}

.hero__video-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid $color-default-white;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hero__pagination{
  position: absolute;
    right: 0px;
    bottom: 120px;
    width: 200px;
    z-index: 2;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
