.instructor li{
  padding: 15px;
  border: 1px solid var(--additional-20, rgba(2, 102, 193, 0.10));
  max-width: 285px;
  min-height: 356px;
  background-color: $color-default-white;
}

.instructor h4{
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.instructor p{
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.instructor__swiper-nav{
  display: flex;
  position: absolute;
  top: 175px;
  right: 120px;
  gap: 4px;
  cursor: pointer;

  @include vp-1199 {
    top: 238px;
    right: 45px;
  }
}

.instructor__container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}
