.review{
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
}

.review h2{
  margin: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin-bottom: 30px;
}

.review ul {
  display: flex;
  flex-direction: row;
}

.review li {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 20px;
  border: 1px solid  red;
  box-shadow: 0px 0px 20px 0px rgba(28, 51, 116, 0.10);
  margin-right: 120px;
  gap: 30px;
  max-width: 700px;
}

.review__wrapper p{
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

.review__wrapper h4{
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.review__swiper-nav{
  display: flex;
  position: absolute;
  top: 3px;
  right: 120px;
  gap: 4px;
  cursor: pointer;
}
