.review{
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;

  @include vp-1199 {
    padding: 37px 45px;
  }
}

.review h2{
  margin: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin-bottom: 30px;
  position: relative;

  &::after{
    content: "Отзывы";
    position: absolute;
    font-size: 55px;
    line-height: 55px;
    left: 0;
    bottom: -3px;
    opacity: 0.03;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
    }
  }

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }
}

.review ul {
  display: flex;
  flex-direction: row;
}

.review li {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 20px;
  border: 1px solid  $color-default-white;
  box-shadow: 0px 0px 20px 0px rgba(28, 51, 116, 0.10);
  margin-right: 116px;
  gap: 30px;
  max-width: 700px;

  @include vp-1199 {
    padding-right: 30px;
  }
}

.review__wrapper p{
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
  }
}

.review__wrapper h4{
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  margin-top: 12px;
  margin-bottom: 8px;

  @include vp-1199 {
    margin-top: 25px;
    margin-bottom: 6px;
   }
}

.review__swiper-nav{
  display: flex;
  position: absolute;
  top: 3px;
  right: 120px;
  gap: 4px;
  cursor: pointer;

  @include vp-1199 {
    top: 30px;
 }
}

.review img{
  @include vp-1199 {
   width: 186px;
   height: 237px;
  }
}

.review__wrapper span{
  @include vp-1199 {
     font-size: 12px;
     font-weight: 300;
    line-height: 12px
  }
}
