.training {
 position: relative;
}

.training h3{
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  margin-bottom: 54px;
}

.training h2{
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
  margin: 0;
  margin-bottom: 37px;
}

.training p {
  margin: 0;
  max-width: 820px;
  margin-bottom: 56px;
}
